.navigation {
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 11px var(--blue-shadow);
  display: flex;
  height: 44px;
  justify-content: space-around;
  margin: 10px 20px 20px 20px;
  padding-top: 5px;
}

.navigation__icon {
  height: 20px;
  color: var(--midblue);
}

.navigation__icon:hover,
.navigation__icon--active {
  color: var(--darkblue);
}
