:root {
  --white: #ffffff;

  --darkblue: #193251;
  --midblue: #7589a2;
  --lightblue: #e0e4e8;
  --ulrtralightblue: #f8f8f8;

  --darkorange: #ff5a36;
  --midorange: #ff9c86;
  --lightorange: #ffbdaf;
  --ultralightorange: #ffded7;

  --blue-shadow: #19325120;
  --orange-shadow: #ff5a3640;
}
