.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-10 {
  display: grid;
  grid-gap: 10px;
}

.grid-20 {
  display: grid;
  grid-gap: 20px;
}

.grid-30 {
  display: grid;
  grid-gap: 30px;
}

.inactive {
  filter: opacity(20%);
}

.main-scrolling {
  height: 100vh;
  overflow-y: auto;
  padding-top: 90px;
}

.scrolling-80 {
  padding-top: 110px;
}

.w-100 {
  width: 100%;
}
